<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <!-- Modifique aquí el servidor. Ejemplos:
         SQL Server local por defecto : Server=.;Database=BibliotecaDB;Integrated Security=True;
         SQL Express                  : Server=.\SQLEXPRESS;Database=BibliotecaDB;Integrated Security=True;
         LocalDB                      : Server=(localdb)\MSSQLLocalDB;Database=BibliotecaDB;Integrated Security=True;
         Autenticación SQL            : Server=.;Database=BibliotecaDB;User Id=usuario;Password=clave; -->
    <add name="BibliotecaDB"
         connectionString="Server=.\SQLEXPRESS;Database=BibliotecaDB;Integrated Security=True;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
